<!-- views/index.ejs -->
<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>warzone Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome To Warzone Blog</h1>

<div class="container">

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/WZM.jpg" class="d-block w-100" alt="warzone profile">
      </div>
      <div class="carousel-item">
        <img src="/images/wz las.jpg" class="d-block w-100" alt="warzone profile">
      </div>
      <div class="carousel-item">
        <img src="/images/warzone.jpg" class="d-block w-100" alt="warzone profile">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit sem augue, vel luctus eros imperdiet sit amet. Integer posuere purus vel sem pellentesque, id commodo mauris feugiat. Quisque porta metus ut finibus suscipit. In lacinia venenatis nunc, ut commodo velit ultrices non. Donec ullamcorper, justo vitae dictum vehicula, odio purus tempor nunc, quis sollicitudin massa leo non elit. Etiam at est nunc. Nam interdum quam sagittis magna gravida dictum. Aliquam sit amet mauris diam. Donec vitae ornare enim. Curabitur auctor lorem at viverra euismod. Maecenas rhoncus massa lobortis libero fringilla, ut accumsan sapien rutrum.</p>
  </div>


</div>
   

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
<%- include("partials/footer.ejs") %>